<title>{{ page.title }}</title>
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% endif %}
<link rel="stylesheet" href="thirdparty/normalize.min.css">
<link rel="stylesheet" href="assets/css/styles.css">
<script src="thirdparty/base64-typedarrays.js"></script>
<script src="assets/js/binaryIOUtils.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/random.js"></script>
<script src="assets/js/bingo.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
