$card-color: #F33;

div.bingo-card {
    position: relative;
}

div.full-page-card {
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 90%;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.bingo-card {
    font-size: calc(var(--unit-size) / 5);
    text-align: center;
    font-family: sans-serif;
}

table td {
    width: var(--unit-size);
    height: var(--unit-size);
}

.bingo-table {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 5);
    table-layout: fixed;
    background-color: white;
}

table.bingo-markers-table {
    width: calc(var(--unit-size) * 5);
    height: calc(var(--unit-size) * 5);
    table-layout: fixed;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    position: absolute;
    bottom: calc(var(--unit-size) / 2);
}

table.bingo-table-header {
    border: 1px solid transparent;
    border-collapse: collapse;
    font-size: 1.5em;
    width: calc(var(--unit-size) * 5);
    height: var(--unit-size);
    table-layout: fixed;
    color: white;
}

table.bingo-table-header th,
table.bingo-table-header tr {
    border: 1px solid transparent;
    border-collapse: collapse;
}

.bingo-controls {
    font-size: 1.5em;
}

.bingo-numbers-block {
    font-size: 3em;
    background-color: $card-color;
    padding: calc(var(--unit-size) / 2);
    margin: auto;
    position: absolute;
    left: calc(50% - calc(var(--unit-size) * 3));
}

td,
th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editable td {
    cursor: pointer;
}

td.marker div {
    width: 90%;
    height: 90%;
    content: '';
    margin: auto;
    background-color: red;
    opacity: 0;
    border-color: white;
    border-radius: 100%;
}

td.free-space {
    font-size: 0.45em;
}

td.marker.selected div {
    opacity: 0.75;
}

span.error {
    color: red;
}

.bingo-card-number {
    display: block;
    position: absolute;
    bottom: calc(var(--unit-size) / 2 * 0.4 - 0.2em);
    font-size: 0.4em;
    padding-left: 0.2em;
    color: white;
}

.no-print {
    @media print {
        display: none;
    }

    .printing & {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }
}
